@import url('https://fonts.googleapis.com/css?family=Chicle');
html, body {
    margin: 0;
    height: 100vh;
    font-family: 'Chicle', cursive;
}
body {
    background: url(https://images.contentstack.io/v3/assets/blt187521ff0727be24/blt626d0a9a6c259304/60ee0f7b39cbdb45e8c4803c/Classic_Mordekaiser_Splash.jpg);
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background: rgba(255,255,255,.8);
    padding: 1em 2em;
    font-size: 1.5em;
    text-align: center;
    margin-top: 30vh;
}

h1 {
    color: darken(red,5%);
}