<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div >
    <div id="dashboardSidebar" class="dashboard__sidebar bg-white scroll-bar-1">
        <div class="sidebar -dashboard">

            <!-- Chỉ hiển thị cho ADMIN -->
            <div class="sidebar__item" sec:authorize="hasRole('ADMIN')">
                <div class="sidebar__button -is-active">
                    <a href="#" class="d-flex items-center text-15 lh-1 fw-500">
                        <i class="fas fa-border-all mr-15"></i>
                        Admin Dashboard
                    </a>
                </div>
            </div>

            <!-- Chỉ hiển thị cho STUDENT -->
            <div class="sidebar__item" sec:authorize="hasRole('STUDENT')">
                <div class="sidebar__button -is-active">
                    <a href="#" class="d-flex items-center text-15 lh-1 fw-500">
                        <i class="fas fa-user-graduate mr-15"></i>
                        Student Dashboard
                    </a>
                </div>
            </div>

            <!-- Chỉ hiển thị cho MANAGER -->
            <div class="sidebar__item" sec:authorize="hasRole('MANAGER')">
                <div class="sidebar__button -is-active">
                    <a href="#" class="d-flex items-center text-15 lh-1 fw-500">
                        <i class="fas fa-user-tie mr-15"></i>
                        Manager Dashboard
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>